* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 25%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
  }
  
  .cells {
    width: 30%;
    height: 100px;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
  }

  h1{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#57af1d, #0367a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#startButton{
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  position:absolute;
  text-shadow: -2px -2px 1px #dfdfdf, 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff;
  top: 21%;
  left: 30%;
  width: 5%;
  font-size:15px;
  height: 40px;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,148,90,1) 14%, rgba(10,156,109,1) 23%, rgba(6,155,109,1) 24%, rgba(7,148,90,1) 38%, rgba(19,49,55,1) 100%);
}

#restartButton{
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: -2px -2px 1px #dfdfdf, 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff;
  font-size:13px;
  position:absolute;
  top: 21%;
  left: 65%;
  width: 5%;
  height: 40px;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,148,90,1) 14%, rgba(10,156,109,1) 23%, rgba(6,155,109,1) 24%, rgba(7,148,90,1) 38%, rgba(19,49,55,1) 100%);
}

#playerNames{
    position:absolute;
    top: 20%;
    left: 40%;
}

label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-fill-color: rgb(150, 212, 174);
  -webkit-text-stroke: 1px rgb(65, 131, 114);
  font-size: large;
  text-shadow: -2px -2px 1px #000607, 2px 2px 1px #4d4545, -2px 2px 1px #000, 2px -2px 1px #000;
}

input{
  width: 50%;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#board{
  position: absolute;
  top: 40%;
  left: 41%;
  background: rgb(24,93,106);
  background: linear-gradient(90deg, rgba(24,93,106,1) 0%, rgba(52,135,9,1) 47%, rgba(48,129,24,1) 51%, rgba(13,65,74,1) 100%);
}

#player1Display{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 32%;
  left: 40%;
  color: white;
}

#player2Display{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 32%;
  left: 60%;
  color: white;
}